main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a {
  all: unset;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.7rem 7rem;
}

.task-input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
  padding: 1.7rem 2rem;
  border-radius: 6px;
  width: 80%;
  gap: 1rem;
  margin-bottom: 2.7rem;
}

.todo-name-input {
  flex: 1;
  border-color: transparent;
  outline: none;
  font-size: 1rem;
  width: 100%;
}

.todo-name-container {
  flex: 1;
}

.todo-name-container,
.todo-date-container {
  position: relative;
  white-space: nowrap;
}

.todo-name-popup,
.todo-date-popup {
  position: absolute;
  background-color: rgb(164, 164, 164);
  color: var(--white);
  padding: 0.3rem;
  border-radius: 3px;
  display: none;
}

.todo-name-popup {
  top: 3.7rem;
  left: -1rem;
}

.todo-date-popup {
  top: 3rem;
  left: 1.7rem;
}

.hidden-date-input {
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.calendar-icon {
  width: 24px;
  height: 24px;
  fill: var(--blue);
  cursor: pointer;
}

.add-button {
  background-color: var(--green1);
  border: none;
  color: var(--text1);
  font-size: 1rem;
  height: 2rem;
  width: 4rem;
  border-radius: 6px;
  cursor: pointer;
}

.navigation {
  width: 80%;
  margin-bottom: 2.7rem;
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  list-style: none;
  gap: 3rem;
}

.nav-item {
  color: var(--navy);
  font-size: 1rem;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding: 0.5rem 1rem;
  transition: border-color 0.3s;
}

.nav-link:hover {
  color: var(--linkColor);
}

.nav-link.active {
  /* text-align: center; */
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--linkColor);
  font-weight: bold;
  color: var(--linkColor);
}

.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  width: 80%;
}

.todo-list,
.stats-container {
  flex: 1;
}

.todo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  background-color: var(--background);
}

.todo-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 6px;
  background-color: var(--background-dark);
  box-shadow: 1px 1px 10px var(--navy);
}

.todo-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  text-wrap: wrap;
}

.todo-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
}

.todo-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
}

.todo-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--green2);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.todo-checkbox:checked {
  background-color: var(--green2);
}

.todo-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.todo-name {
  color: var(--navy);
  font-weight: 500;
  max-width: 22rem;
  word-wrap: break-word;
}

.edit-button {
  all: unset;
  color: var(--purple);
  border: none;
  cursor: pointer;
}

.delete-button {
  all: unset;
  color: var(--red);
  cursor: pointer;
}

.todo-date {
  color: var(--navy);
  font-size: 0.85rem;
  font-weight: 500;
  white-space: nowrap;
}

button svg {
  transform: scale(1.2);
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: var(--background-dark);
  box-shadow: 1px 1px 10px var(--navy);
  margin-left: 4rem;
  flex-shrink: 0;
  height: 10rem;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.2rem;
}

.motivation-text {
  color: var(--navy);
  font-size: 1.3rem;
}

.todo-completed {
  text-decoration: line-through;
  color: var(--green2);
}

#progress-bar {
  background-color: var(--background);
  height: 1rem;
  width: 85%;
  border-radius: 10px;
}

#progress {
  background-color: var(--green2);
  height: 1rem;
  border-radius: 10px;
  transition: all 4s ease;
}

.stats-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  background-color: var(--green2);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  box-shadow: 1px 1px 10px var(--navy);
  flex-shrink: 0;
}

#numbers {
  color: var(--background);
  font-size: 1.3rem;
  font-weight: bold;
}

.todo-completed {
  text-decoration: line-through;
  color: var(--green2);
}



@media (max-width: 1450px) {
  .task-input-box,
  .navigation,
  .todo-container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .todo-container {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .stats-container {
    margin-left: 0;
    padding: 1rem;
  }
  .task-input-box,
  .todo-container,
  .navigation {
    width: 100%;
    max-width: 600px;
  }

  .stats-numbers {
    height: 5.2rem;
    width: 5.2rem;
  }

  #progress-bar {
    width: 75%;
  }

  .motivation-text {
    font-size: 1.15rem;
  }

  .nav-tabs {
    gap: 2rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .todo-name {
    width: 15rem;
  }
}

@media (max-width: 600px) {
  .nav-tabs {
    gap: 1rem;
  }

  #main-container {
    padding: 3.7rem 3rem;
  }

  .motivation-text {
    font-size: 1rem;
  }

  #numbers {
    font-size: 1.2rem;
  }
}
