* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #DBEDF3;
  --secondryBackground: #283149;
  --navy: #404B69;
  --green: #00818A;
  --white: #ffffff;
  --text1: white;
  --text2: rgba(245, 245, 245, 0.808);
}

body {
  background-color: var(--background);
  color: var(--text);
}

.flex-container {
  display: flex;
  flex-direction: column;
}



